{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pointer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- <script src="http://127.0.0.1:8000/static/game/js/lib/lodash/lodashCore.js"></script>
    <script src="http://127.0.0.1:8000/static/game/js/lib/p5/p5.js"></script>
    <script src="http://127.0.0.1:8000/static/game/js/components/utils.js"></script>
    <script src="http://127.0.0.1:8000/static/game/js/components/levels.js"></script>
    <script src="http://127.0.0.1:8000/static/game/js/components/ProgressBar.js"></script> -->

    <script src="{% static 'game/js/lib/lodash/lodashCore.js' %}"></script>
    <script src="{% static 'game/js/lib/p5/p5.js' %}"></script>
    <script src="{% static 'game/js/components/utils.js' %}"></script>
    <script src="{% static 'game/js/components/levels.js' %}"></script>
    <script src="{% static 'game/js/components/ProgressBar.js' %}"></script>
    <!-- Main JS file -->
    
    {% tailwind_css %}
    {% load static %}
</head>

<body class="flex flex-col" style="overflow: hidden">
    <div class="flex grow w-full h-1/2 min-h-1/2 mt-10 flex-row">
        <div class="flex w-1/2 items-center justify-center align-center">
            <div id="imgContainer" class="flex flex-row m-2/5 p-10 justify-center items-center align-center hidden">

            </div>
            <p id="fullscreenText" class="font-kalam antialiased text-3xl p-10 w-full">
                The game must be played in fullscreen. Click anywhere to launch fullscreen mode and begin the game. Exiting fullscreen will automatically exit the game.
            </p>
        </div>
        <div class="flex flex-col w-1/2 justify-center align-center items-center">
            <!-- <img src="http://127.0.0.1:8000/static/game/imgs/logoMain.png" width="384"> -->
            <img src="{% static 'game/imgs/logoMain.png' %}" width="384">
            <p id="roundIndex" class="font-kalam antialiased text-4xl mt-10 bottom">Round</p>
            
        </div>
    </div>
    <div class="h-1/2 w-full">
        <div id="gameCanvas" class="gameCanvas">
            <!-- Canvas inserted via JavaScript -->
        </div>
    </div>
    
    <!-- <script src="http://127.0.0.1:8000/static/game/js/src/game.js"></script> -->
    <script src="{% static 'game/js/src/game.js' %}"></script>
    
</body>

</html>
