{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pointer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="overflow-hidden overflow-y-hidden">
    <div style="display: flex; justify-content: center; align-items: center;">
        <img id="tutorial" src="{% static 'game/imgs/tutorial/tutorial1.png' %}" style="max-width: 85%;">
    </div>
    
    <script>
        let imgNum = 1;
        let mainImg = document.getElementById("tutorial");
        mainImg.style.width = window.innerWidth*0.95;
        mainImg.style.height = window.innerHeight*0.95;
        
        setTimeout(() => {
            
            mainImg.addEventListener('click', clickFn)
        }, 500)

        const clickFn = () => {
            if (imgNum == 14){
                    setTimeout(() => {
                        window.location.replace(`/pointer${location.search}`)
                    }, 250)
                } else {
                    imgNum += 1;
                    switch(imgNum){
                        case 2:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial2.png' %}"
                            break;
                        case 3:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial3.png' %}"
                            break;
                        case 4:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial4.png' %}"
                            break;
                        case 5:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial5.png' %}"
                            break;
                        case 6:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial6.png' %}"
                            break;
                        case 7:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial7.png' %}"
                            break;
                        case 8:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial8.png' %}"
                            break;
                        case 9:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial9.png' %}"
                            break;
                        case 10:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial10.png' %}"
                            break;
                        case 11:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial11.png' %}"
                            break;
                        case 12:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial12.png' %}"
                            break;
                        case 13:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial13.png' %}"
                            break;
                    }
            }
        }
    </script>
</body>


</html>
