{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pointer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body>
    <div class="flex m-10 dvh justify-center items-center align-center">
        <img id="tutorial" src="{% static 'game/imgs/tutorial/tutorial1.png' %}" >
    </div>
    
    <script>
        let imgNum = 1;
        let mainImg = document.getElementById("tutorial");
        
        setTimeout(() => {
            
            mainImg.addEventListener('click', clickFn)
        }, 1000)

        const clickFn = () => {
            console.log(`Clicked on`, imgNum)
            console.log(imgNum)
            if (imgNum == 6){
                    setTimeout(() => {
                        window.location.replace(`pointer${location.search}`)
                    })
                } else {
                    imgNum += 1;
                    let imgStr = "tutorial" + imgNum.toString()
                    let newStr = ("{% static 'game/imgs/tutorial" + imgStr + ".png' %}").toString()
                    console.log(newStr)
                    switch(imgNum){
                        case 2:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial2.png' %}"
                            break;
                        case 3:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial3.png' %}"
                            break;
                        case 4:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial4.png' %}"
                            break;
                        case 5:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial5.png' %}"
                            break;
                        case 6:
                            mainImg.src = "{% static 'game/imgs/tutorial/tutorial6.png' %}"
                            break;
                    }
            }
        }
    </script>
</body>


</html>
